 .sectionTitle {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
}
 
.viewMore {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
}
.viewMore:hover {
    color: #0998a8;
}

.sectionTitle:hover {
    color: #0998a8;
}